@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vg-orange: #ff7b00;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
